@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #15311a;
  --green-50: #f0f7eb;
  --green-100: #cce8b7;
  --green-200: #9ec187;
  --green-400: #5e914c;
  --green-500: #5b8b07;
  --green-700: #336130;
  --green-900: #15311a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-700: var(--green-700);
  --color-green-900: var(--green-900);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
